<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ArcadeRacing">

        <!-- SPLASH: PRIMERA ACTIVITY QUE SE ABRE -->
        <activity
            android:name=".sesion.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- START (LOGIN / REGISTRO) -->
        <activity
            android:name=".sesion.StartActivity"
            android:exported="false" />

        <!-- LOGIN -->
        <activity
            android:name=".sesion.LoginActivity"
            android:exported="false" />

        <!-- REGISTRO -->
        <activity
            android:name=".sesion.RegisterActivity"
            android:exported="false" />

        <!-- MENÚ PRINCIPAL -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <!-- JUEGO RACING -->
        <activity
            android:name=".racing.Racing"
            android:exported="false" />

        <!-- JUEGO 2048 -->
        <activity
            android:name=".dosmilcuarentayocho.Dosmilcuarentayocho"
            android:exported="false" />

        <!-- SCORES 2048 -->
        <activity
            android:name=".scores.Scores2048Activity"
            android:exported="false" />

        <!-- SCORES RACING -->
        <activity
            android:name=".scores.ScoresRacingActivity"
            android:exported="false" />

    </application>

</manifest>
